
<form class="form-list" role="form">
    <div class="jumbotron">
        <h3>{{app}}</h3>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Telefone</th>
            </tr>
            <tr ng-repeat="contato in contatos">
                <td>{{ contato.Id_Telefone }}</td>
                <td>{{ contato.Nome }}</td>
                <td>{{ contato.Telefone }}</td>
            </tr>
        </table>
        <hr />
    </div>

</form>