<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <!-- Database -->
  <connectionStrings>
    <add name="LTM.DBAccess.ConnectionString" providerName="System.Data.SqlClient" connectionString="Server=[SERVIDOR];Database=Test;User Id=[USUARIO];Password=[SENHA];" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>
